@model List<BaseProject.Models.EF.CartItem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(function () {
                $('.remove').on('click', function () {
                    var cartItemId = $(this).data('item-cart-id');
                    $.ajax({
                        url: '@Url.Action("RemoveFromCart", "Cart")',
                        type: 'POST',
                        data: { cartItemId: cartItemId },
                        success: function (result) {
                            if (result.success) {
                                location.reload();
                            }
                        }
                    });
                });

                $('.clear').on('click', function () {
                    $.ajax({
                        url: '@Url.Action("ClearCart", "Cart")',
                        type: 'POST',
                        success: function (result) {
                            if (result.success) {
                                location.reload();
                            }
                        }
                    });
                });
            });
</script>
<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
            <th>Action</th>
            <th>SỐ LƯỢNG</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.Price.ToString("N0")đ</td>
                <td>@item.Quantity</td>
                <td>@((item.Price * item.Quantity).ToString("N0"))đ</td>
                <td><button class="btn-remove remove" data-item-cart-id="@item.Id">Remove</button></td>
                <td>
                    <div class="price-textbox">
                        <span class="minus-text" onclick="minusQuantity('@item.Id')"><i class="glyphicon glyphicon-minus"></i></span>
                        <input type="text" id="quantity_@item.Id" value="@item.Quantity" onchange="updateCart('@item.Id')" pattern="[0-9]">
                        <span class="plus-text" onclick="plusQuantity('@item.Id')"><i class="glyphicon glyphicon-plus"></i></span>
                    </div>
                </td>
            </tr>
        }
        <tr>
            <td colspan="5">Total:</td>
            <td colspan="4">@Model.Sum(item => (item.Price * item.Quantity)).ToString("N0")đ</td>
        </tr>
        
    </tbody>
    </table>

<div>
    <button class="btn-clear clear">Clear Cart</button>
</div>

<div class="proceed-check">
    @*<button href="@Url.Action("CheckOut","Order")"  class="btn-primary-gold btn-medium">THANH TOÁN </button>*@
    @*<a href="@Url.Action("CheckOut","Order")"  class="btn-primary-gold btn-medium">THANH TOÁN</a>*@
    <button onclick="location.href='@Url.Action("CheckOut","Order")'" class="btn-primary-gold btn-medium"> THANH TOÁN</button>

</div>

<script type="text/javascript">
    // Plus number quantiy product detail
    var plusQuantity = function (ProductId) {
        if (jQuery('input[id="quantity_' + ProductId + '"]').val() != undefined) {
            var currentVal = parseInt(jQuery('input[id="quantity_' + ProductId + '"]').val());
            if (!isNaN(currentVal)) {
                jQuery('input[id="quantity_' + ProductId + '"]').val(currentVal + 1);
            } else {
                jQuery('input[id="quantity_' + ProductId + '"]').val(1);
            }
            updateCart('' + ProductId + '');
        } else {
            console.log('error: Not see elemnt ' + jQuery('input[id="quantity_' + ProductId + '"]').val());
        }
    }
    function updateCart(itemId) {
        var quantity = $("#quantity_" + itemId + "").val();
        $.ajax({
            type: "POST",
            url: "/Cart/UpdateCart",
            data: { itemId: itemId, quantity: quantity },
            dataType: "json",
            success: function (result) {
                console.log(result);
                location.reload();
            },
            error: function () {
                console.log("Failed to update cart!");
            }
        });
    }

    // Minus number quantiy product detail
    var minusQuantity = function (ProductId) {
        if (jQuery('input[id="quantity_' + ProductId + '"]').val() != undefined) {
            var currentVal = parseInt(jQuery('input[id="quantity_' + ProductId + '"]').val());
            if (!isNaN(currentVal) && currentVal > 1) {
                jQuery('input[id="quantity_' + ProductId + '"]').val(currentVal - 1);
            } else {
                jQuery('input[id="quantity_' + ProductId + '"]').val(1);
            }
            updateCart('' + ProductId + '');
        } else {
            console.log('error: Not see elemnt ' + jQuery('input[]').val());
        }
    }
</script>