

@model IEnumerable<BaseProject.Models.EF.Category>

@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center">Trang chủ</h1>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <div class="card-tools">
                    <a href="@Url.Action("ListProductCategory", "ProductUser", new { id = item.Id })" class="btn btn-primary">Product</a>
                </div>
            </td>
        </tr>
    }

</table>
