﻿@model BaseProject.Models.EF.Order

@{
    ViewBag.Title = "SearchOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal totalAmount = 0; // Biến tổng tiền sản phẩm
}
@using (Html.BeginForm("SearchOrder", "Order", FormMethod.Post))
{
    <div class="form-group" style="margin-top: 180px">
        <div class="input-group">
            <input type="text" name="orderCode" class="form-control" placeholder="Nhập mã đơn hàng" />
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Tìm kiếm</button>
            </div>
        </div>
    </div>
}


@if (Model != null)
{

    <div class="page-layout">
        <div class="wrapper-row pd-page">
            <div class="container-fluid">

                <div class="row wrapbox-content-cart">
                    <div class="col-md-12 col-sm-4 col-xs-12 sidebarCart-sticky">
                        <div class="sidebox-order">
                            <div class="sidebox-order-inner">
                                <div class="sidebox-order_title" style="margin-top:20px">
                                    <h3>Thông tin đơn hàng</h3>
                                </div>
                                <div class="sidebox-order_text row" style="margin-bottom:20px">
                                    <div class="col-md-6 col-sm-4 col-xs-12">
                                        <p>Mã đơn hàng: <b>@Model.Code</b></p>
                                        <p>Tên người nhận: <b>@Model.CustomerName</b></p>
                                        <p>Số điện thoại: <b>@Model.PhoneNumber</b></p>
                                       
                                    </div>
                                    <div class="col-md-6 col-sm-4 col-xs-12">
                                        <p>Phương thức thanh toán: <b>@Model.Payment</b></p>
                                        <p>Địa chỉ: <b>@Model.Address</b></p>
                                        <p>Địa chỉ email: <b>@Model.Email</b></p>
                                    </div>
                                </div>
                                <div class="sidebox-order_text">
                                    <table class="table table-head-fixed text-nowrap">
                                        <thead>
                                            <tr>
                                                <th>Tên sản phẩm</th>
                                                <th>Giá</th>
                                                <th>Số lượng</th>
                                                <th>Tổng tiền</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var orderdetail in ViewBag.OrderDetails)
                                            {
                                                <tr>
                                                    <td>@orderdetail.ProductName</td>
                                                    <td>@orderdetail.Price.ToString("N0")đ</td>
                                                    <td>@orderdetail.Quantity</td>
                                                    <td>@string.Format("{0:N0}đ", orderdetail.Price * orderdetail.Quantity)</td>
                                                </tr>
                                                
                                                    totalAmount += orderdetail.Price * orderdetail.Quantity;
                                                    

                                            }
                                            <tr>
                                                <td colspan="3" class="text-right">Tổng tiền:</td>
                                                <td>@string.Format("{0:N0}đ", totalAmount)</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>







}